{% extends 'base.html' %}
{% load more_like_this %}
{% block extra_scripts %}
	<script src="/static/tungwah/js/script.js"></script>
{% endblock %}
{% block page_title %}The Tung Wah Times{% endblock %}
{% block meta %}
	{% if content.title %}
		<meta name="DCTERMS.title" content="{{ content.title }}">
	{% else %}
		<meta name="DCTERMS.title" content="{{ content.description|truncatewords:10 }}">
	{% endif %}
	<meta name="DCTERMS.date" content="{{ content.issue_date }}">
	<meta name="DCTERMS.abstract" content="{{ content.description }}">
	{% if content.issue_date < extra.tw_date %}
		<meta name="DCTERMS.source" content="Tung Wah News">
	{% else %}
		<meta name="DCTERMS.source" content="Tung Wah Times">
	{% endif %}
	<meta name="DCTERMS.type" content="newspaperArticle">
	<meta name="BIBO.pages" content="{{ content.page }}{% if content.page_column %}, column {{ content.page_column }}{% endif %}">
{% endblock %}
{% block content %}
<div class="container" typeof="schema:ItemPage">
	{% include 'tungwah/_header.html' with child='Article' %}
	<div class="row" property="schema:about" resource="{{ identifier }}">
		<div class="col-md-5 col-md-offset-2" typeof="schema:NewsItem" about="{{ identifier }}">
			{% if content.title %}
				<h2>{{ content.title }}</h2>
			{% else %}
				<h2 property="schema:name">{{ content.description|truncatewords:10 }}</h2>
			{% endif %}
			<dl class="dl-horizontal">
				<dt>Newspaper</dt>
				<dd property="schema:provider" resource="http://trove.nla.gov.au/version/16575625">
				{% if content.issue_date < extra.tw_date %}
            		<a typeof="schema:Organization" href="http://trove.nla.gov.au/version/16575625"><span property="schema:name">Tung Wah News</span></a>
            	{% else %}
					<a typeof="schema:Organization" href="http://trove.nla.gov.au/version/16567400"><span property="schema:name">Tung Wah Times</span></a>
				{% endif %}
				</dd>
				<dt>Date</dt>
				<dd property="schema:datePublished" content="{{ content.issue_date|date:'c' }}"><a href="{% url 'issue-view' content.issue_date|date:'c' %}">{{ content.issue_date|date:"j F Y" }}</a></dd>
				<dt>Page</dt>
				<dd>{{ content.page }}</dd>
				{% if content.page_column %}
					<dt>Column</dt>
					<dd>{{ content.page_column }}</dd>
				{% endif %}
				<dt>Description</dt>
				<dd property="schema:description">{{ content.description }}</dd>
				{% if content.source %}
					<dt>Source</dt>
					<dd>{{ content.source }}</dd>
				{% endif %}
			</dl>

		</div>
		{% include 'tungwah/_sidebar.html' %}
	</div>
</div>
{% endblock %}