{% extends 'base.html' %}
{% load more_like_this %}
{% block extra_scripts %}
	<script src="/static/tungwah/js/script.js"></script>
{% endblock %}
{% block page_title %}The Tung Wah Times{% endblock %}
{% block meta %}
	{% if content.title %}
		<meta name="DCTERMS.title" content="{{ content.title }}">
	{% else %}
		<meta name="DCTERMS.title" content="{{ content.description|truncatewords:10 }}">
	{% endif %}
	<meta name="DCTERMS.date" content="{{ content.issue_date }}">
	<meta name="DCTERMS.abstract" content="{{ content.description }}">
	<meta name="DCTERMS.source" content="Tung Wah Times">
	<meta name="DCTERMS.type" content="newspaperArticle">
	<meta name="BIBO.pages" content="{{ content.page }}{% if content.page_column %}, column {{ content.page_column }}{% endif %}">
{% endblock %}
{% block content %}
<div class="container">
	{% include 'tungwah/_header.html' with child='Article' %}
	<div class="row">
		<div class="col-md-5 col-md-offset-2">
			{% if content.title %}
				<h2>{{ content.title }}</h2>
			{% else %}
				<h2>{{ content.description|truncatewords:10 }}</h2>
			{% endif %}
			<dl class="dl-horizontal">
				<dt>Date</dt>
				<dd><a href="{% url 'issue-view' content.issue_date|date:'c' %}">{{ content.issue_date|date:"j F Y" }}</a></dd>
				<dt>Page</dt>
				<dd>{{ content.page }}</dd>
				{% if content.page_column %}
					<dt>Column</dt>
					<dd>{{ content.page_column }}</dd>
				{% endif %}
				<dt>Description</dt>
				<dd>{{ content.description }}</dd>
				{% if content.source %}
					<dt>Source</dt>
					<dd>{{ content.source }}</dd>
				{% endif %}
			</dl>

		</div>
		{% include 'tungwah/_sidebar.html' %}
	</div>
</div>
{% endblock %}