{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% block extra_scripts %}
	<script src="/static/tungwah/js/script.js"></script>
{% endblock %}
{% block page_title %}The Tung Wah Times{% endblock %}
{% block content %}
<div class="container">
	{% include 'tungwah/_header.html' with child='Articles'%}
	<div class="row">
		<div class="col-md-5 col-md-offset-2">
			{% if content.has_previous or content.has_next %}
				<p>Page {{ content.number }} of {{ paginator.num_pages }}</p>
				 {% bootstrap_pager content previous_label="&larr; Previous" next_label="Next &rarr;" %}
			{% endif %}
			<div class="list-group">
			{% for article in content.object_list %}
				<a class="list-group-item" href="{{ article.object.get_absolute_url }}">{% if article.object.title %}
					{{ article.object.title }}
				{% else %}
					{{ article.object.description|truncatewords:20 }}
				{% endif %}
				<br> <span class="text-muted">&ndash; {{ article.object.issue_date|date:"j F Y"}}</span>
				</a>
			{% endfor %}
			</div>
			{% if content.has_previous or content.has_next %}
				{% bootstrap_paginate content range=5 show_first_last="true" previous_label="&lsaquo;" next_label="&rsaquo;" %}
			{% endif %}
		</div>
		{% include 'tungwah/_sidebar.html' %}
		<div class="col-md-8 col-md-offset-2">
			<dl class="dl-horizontal">
				{% with q=request.GET.q order=request.GET.order_by year=request.GET.year page=request.GET.page %}
					<dt>Identifier</dt>
					<dd property="schema:url"><a href="{{ identifier }}?q={{ q }}&page={{ page }}{% if order %}&order_by={{ order }}{% endif %}{% if year %}&year={{ year }}{% endif %}">{{ identifier }}?q={{ q }}&page={{ page }}{% if order %}&order_by={{ order }}{% endif %}{% if year %}&year={{ year }}{% endif %}</a></dd>
					<dt>Formats</dt>
					<dd>
						<a href="{{ identifier|slice:":-1" }}.rdf/?q={{ q }}&page={{ page }}{% if order %}&order_by={{ order }}{% endif %}{% if year %}&year={{ year }}{% endif %}">RDF</a> &middot; 
						<a href="{{ identifier|slice:":-1" }}.json/?q={{ q }}&page={{ page }}{% if order %}&order_by={{ order }}{% endif %}{% if year %}&year={{ year }}{% endif %}">JSON-LD</a> &middot; 
						<a href="{{ identifier|slice:":-1" }}.ttl/?q={{ q }}&page={{ page }}{% if order %}&order_by={{ order }}{% endif %}{% if year %}&year={{ year }}{% endif %}">Turtle</a>
					</dd>
				{% endwith %}
			</dl>
		</div>
	</div>
</div>
{% endblock %}
