
{% extends 'base.html' %}
{% load more_like_this %}
{% block extra_scripts %}
	<script src="/static/tungwah/js/script.js"></script>
{% endblock %}
{% block content %}
<div class="container">
	{% include 'tungwah/_header.html' %}
	<div class="row">
		<div class="col-md-5 col-md-offset-2">
			<h2>{{ content.issue|date:"j F Y" }}</h2>
			{% regroup content.articles by page as articles %}

			{% for page in articles %}
			<h4>Page {{ page.grouper }}</h4>
				<div class="list-group">
					{% for article in page.list %}
						<a href="{% url 'article-view' article.id %}" class="list-group-item">{{ article.description|truncatewords:20 }}</a>
					{% endfor %}
				</div>
			{% endfor %}

		</div>
		{% include 'tungwah/_sidebar.html' %}
	</div>
</div>
{% endblock %}
