{% extends 'base.html' %}
{% load more_like_this %}
{% block extra_scripts %}
	<script src="/static/threads/js/script.js"></script>
{% endblock %}
{% block page_title %}Threads of Kinship{% endblock %}
{% block meta %}

{% endblock %}
{% block content %}
<div class="container" typeof="schema:ItemPage">
	{% include 'threads/_header.html' with child='Birth' %}
	<div class="row" property="schema:about" resource="{{ identifier }}">
		<div class="col-md-5 col-md-offset-2" typeof="schema:NewsItem" about="{{ identifier }}">
			<span class="label label-primary">Birth</span>
			<h2>{{ content.index_child_firstname }} {{ content.index_child_surname }}</h2>
			<dl class="dl-horizontal">
				<dt>Mother</dt>
				<dd>{{ content.index_mother_firstname }}</dd>
				<dt>Father</dt>
				<dd>{{ content.index_father_firstname }}</dd>
				<dt>Year</dt>
				<dd>{{ content.index_year }}</dd>
				<dt>Place</dt>
				<dd><a href="{% url 'registration-list' %}results.html/?place={{ content.index_registration_place }}&order_by=alpha_sort">{{ content.index_registration_place }}</a></dd>
				<dt>Registration</dt>
				<dd>{{ content.reg_number }}/{{ content.reg_year }}</dd>

			</dl>
		</div>
		{% include 'threads/_sidebar.html' %}
		<div class="col-md-8 col-md-offset-2">
			
		</div>
	</div>
</div>
{% endblock %}